.activity {
    padding: 16px;
    width: 300px;

    background-color: rgb(22, 22, 22);
    border: 0.75px solid rgba(200, 200, 200, 0.3);
    border-radius: 5px;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    transition: 0.3s;

    &:hover {
        cursor: default;
        background-color: rgb(26, 26, 26);
    }

    &Spotify {
        @extend .activity;

        background-color: rgb(28, 176, 80);
        border-color: rgba(155, 255, 190, 0.3);

        &:hover {
            background-color: rgb(43, 196, 96);
        }
    }
}

.primaryImage {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.secondaryImage {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
}